COMPRAS_APP_PORT=8016
COMPRAS_DB_PORT=55440
COMPRAS_DB_NAME=sister_compras
COMPRAS_DB_USER=sister
COMPRAS_DB_PASSWORD=troque-esta-senha-local
COMPRAS_DB_CONTAINER=nexo-compras-dev-db
COMPRAS_DB_VOLUME=nexo_compras_dev_pgdata
